<div class="text-danger text-center">
    <h1 class="text-danger">Acesso Negado</h1>
    <h6 class="text-danger">Você não tem permissão para visualizar este recurso</h6>
    <img src="~/imagens/iconNegado.png" style="height:300px; width:300px" />
</div>